attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
idna==2.10
importlib-metadata==3.3.0
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
jsonschema==3.2.0
pathvalidate==2.3.1
pycryptodome==3.9.9
pyrsistent==0.17.3
PySocks==1.7.1
requests==2.25.1
six==1.15.0
streamlink==2.0.0
typing-extensions==3.7.4.3
urllib3==1.26.2
websocket-client==0.57.0
zipp==3.4.0
